.formacion{
    background-color: var(--color-gris-claro);
}

.formacion__container-lista{
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:2%;
}

.tarjeta-formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1.2rem;
    box-shadow: .5rem .5rem .5rem var(--color-gris);
}

.tarjeta-formacion__imagen{
    width: 70%;
    min-width: 70%;
    height: 25vh;
    padding: 1rem;
}

.tarjeta-formacion__contenido{
    width: 80%;
}

.tarjeta-formacion__contenido-titulo{
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-align: center;
}

.tarjeta-formacion__contenido-subtitulo{
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
}

.tarjeta-formacion__contenido-fecha{
    text-align: center;
    margin: 0.8rem 0;
}

/* responsive */

@media screen and (min-width:360px) and (max-width:767px) {

    .formacion__container-lista{
        display: flex;
        flex-direction: column;
    }

    .tarjeta-formacion{
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
    }

    .tarjeta-formacion__imagen{
        width: 35vw;
        height: 30vh;
        padding: 1rem;
    }

    .tarjeta-formacion__contenido-titulo{
        font-size: 1.3rem;
        text-align: center;
        margin-top: 0px;
    }

    .tarjeta-formacion__contenido-subtitulo{
        font-size: 1.15rem;
        text-align: center;
        margin-top: 0px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .formacion__container-lista{
        display: flex;
        flex-direction: column;
    }

    .tarjeta-formacion{
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
    }

    .tarjeta-formacion__imagen{
        width: 30vw;
        height: 40vh;
        padding: 1rem;
    }

    .tarjeta-formacion__contenido-titulo{
        font-size: 1.3rem;
        text-align: center;
        margin-top: 0px;
    }

    .tarjeta-formacion__contenido-subtitulo{
        font-size: 1.15rem;
        text-align: center;
        margin-top: 0px;
    }
}