/* Estilos secciones*/

.descripcion{
    /*background-color: rgb(200, 220, 166);*/
    /* background-color: rgb(241, 255, 217); */
    background-color: white;
}

.descripcion__container{
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items:start;
}

.descripcion__container__contenido{
    width: 70%;
}

.contenido__titulo{
    margin: 0px;
    font-size: 3rem;
}

.contenido__parrafo{
    font-size: 1.1rem;
}

.contenido__contacto > a {
    color: black;
    margin-right: 20px;
}

.foto{
    width: 260px;
    height: 260px;
    background: url('../imgs/foto.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 130px;
}

/*Seccion sobre mi */
#sobre-mi{
    /*background-color: rgb(217, 238, 255);*/
    /*background-color: rgb(241, 255, 217);*/
    /*background: linear-gradient(white ,rgb(241, 255, 217));*/
    background-color: rgb(241, 255, 217);
    height: auto;
    width: 100%;
}

.sobre-mi__container{
    width: 55%;
    padding: 2rem 10%;
    text-align: justify;
}

.sobre-mi__container__titulo{
    font-size: 1.8rem;
}

.sobre-mi__container__parrafo{
    font-size: 1.1rem;
}

/* Seccion Habilidades */

#habilidades{
    background-color: rgb(217, 238, 255);
    /*7background: linear-gradient(rgb(241, 255, 217),rgb(217, 238, 255)) ;*/
}

.habilidades__titulo{
    font-size: 1.8rem;
    text-align: center;
    margin: 0px;
}

.habilidades__container{
    padding: 2rem 10%;
}

.habilidades__container-lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0px;
    list-style-type: none;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1fr;
    height: 220px;
    background-color: whitesmoke;
    border-radius: 1rem;
}

.tarjeta__titulo{
    margin: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.tarjeta__logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/*Seccion Formación*/



.formacion__container{
    padding: 2rem 10%;
}
.formacion__container__titulo{
    font-size: 1.8rem;
    text-align: center;
}

.formacion__container__lista{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.tarjeta-formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    height: auto;
    background-color:whitesmoke;
    border-radius: 1.2rem;
}

.tarjeta-formacion__imagen{
    width: 80%;
    height: 40vh;
    padding: 2rem;
}

.tarjeta-formacion__contenido{
    width: 80%;
}

.tarjeta-formacion__contenido__titulo{
    font-size: 1.6rem;
    text-align: center;
}

.tarjeta-formacion__contenido__titulo2{
    font-size: 1.2rem;
    text-align: center;
}

.tarjeta-formacion__contenido__fecha{
    text-align: center;
}

/*seccion Proyectos*/

.proyectos{
    background-color: darkolivegreen;
}

.proyectos__container{
    padding: 2rem 10%;
}

.proyectos__container-titulo{
    font-size: 1.8rem;
    text-align: center;
}

.proyectos__container-lista{
    list-style-type: none;
}

.proyectos__container-lista-item{
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    margin-top: 1rem;
}

.proyectos__container-lista-item__imagen{
    padding: 1.2rem;
    height: 50vh;
    width: 60%;
    align-self: center;
}

.proyectos__container-lista-item__imagen--mediano{
    padding: 1.2rem;
    height: 40vh;
    width: 50%;
    align-self: center;
}

.cont{
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.cont__titulo{
    font-size: 1.6rem;
    text-align: center;
}


.cont__enlace{
    display: inline-block;
    padding: 1rem;
    background-color: aquamarine;
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    cursor: pointer;
}

.cont_botones{
    display: flex;
}

